@import url(https://fonts.googleapis.com/css?family=Nunito);
body {
  width: 100%;
  padding: 5em;
  background-color: #00d1b2;
  min-height: 100vh;
}

body .card {
  max-width: 600px;
  margin: 0px auto;
  overflow: visible;
}


